.example-spacer {
    flex: 1 1 auto;
  }
// mat-toolbar.mat-toolbar.mat-toolbar-single-row {
//     background-color: blueviolet;
//     padding: 8px;
//     border-radius: 4px;
// }
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}